<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Confirm Reset Password</title>
</head>
<body>
<div class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-12">
            <h4>Confirm Reset Password</h4>
            <p>Please fill this form to reset your password.</p>
            <form method="POST">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Password" required>
                </div>
                <button id="submit" type="submit" class="btn btn-primary w-100" disabled>Reset Password</button>
            </form>
        </div>
    </div>
</div>
<script>
    const newPassword = document.getElementById('newPassword')
    const confirmNewPassword = document.getElementById('confirmNewPassword')
    const submit = document.getElementById('submit')

    const check = () => {
      submit.disabled = newPassword.value.length < 8 || newPassword.value !== confirmNewPassword.value
    }

    confirmNewPassword.addEventListener('change', check)
    newPassword.addEventListener('change', check)
</script>
</body>
</html>
